$white: #fff;
$black: #000000;
$blue: #252b49;
$lightblue: #353c65;
$darkblue: #2c3154;
$red: #ff4343;
$darkred: #e71414;
$blackred: #B90C0C;
$grey: #c6cbcd;
$darkgrey: #2d3033;
$middlegrey: #6c7279;
$purple: #5C3249;


$primary: $red;

$bp-xs: 425px;
$bp-sm: 768px;
$bp-md: 991px;
$bp-lg: 1024px;

$ff-base: "Raleway", sans-serif;
$fw-r: 400;
$fw-b: 700;
$fw-xb: 900;

$grid-padding: 15px;
