.container{
    height: 450px;
    width: 470px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.container p{
 padding-bottom: 45px;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
}
.container span{
   color: #EC7979;
  }

  .input{
    padding: 0px 50px;
  }
.btn{
    background: #EC7979;
    height: 60px;
    width: 470px;
    color: white;
    border: none;
    margin-top: 75px ;
    border-radius: 0px 0px 10px 10px;
}